<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/variables.css">

</head>
<body>
<header>

    <nav class="app-header-menu">
        <ul class="app-header-menu__links">
            <li><button >HOME</button></li>
            <li><button disabled>LISTE PATIENTS</button></li>
            <li><button disabled>AJOUTER UN PATIENT</button></li>
            <li><button>CONTACTS</button></li>
        </ul>
    </nav>
</header>

<main class="app_main__login_form">
    <h1 th:text="${titre}" ></h1>
    <hr>
    <div>
        <p>Enter vos informations afin d'acceder à votre espace personnel </p>
    </div>
    <form name="monForm" method="post">
        <div class="form-line">
            <label> Username/ Email *</label>
            <input type="text" name="username" placeholder="Votre email / Username" required>
        </div>
        <div class="form-line">
            <label>Mot de passe *</label>
            <input type="password" name="password" placeholder="mot de passe " required>
        </div>


<!--        <div class="form-line">-->
<!--            <button type="submit">Se connecter</button>-->
<!--        </div>-->

        <div class="form-line">
            <button type="submit">
                Connexion
            </button>

        </div>
        <div class="form-line">
            <p th:text="${param.error }? ${param.error}"></p>
        </div>
        <div class="form-line">
            <label></label>
            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
        </div>
    </form>
</main>

</body>
</html>